* {
    margin: 0;
    box-sizing: border-box;
}
.title {
    display: flex;
    justify-content: center;
}
.user {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 500px;
    border: 5px solid black;
    flex-direction: column;
    margin: auto;
}
.caption {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.fight {
    display: flex;
    justify-content: center;
}
.players {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-size: 25px;
}
.selections {
    display: flex;
    justify-content: center;
  }
  
  .selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
  }
  
  .selection:hover {
    transform: scale(1.2);
  }
  
  .results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  
  .result-score {
    margin-left: .1rem;
    font-size: .5rem;
    color: #333;
  }
  
  .result-selection {
    opacity: .5;
  }
  
  .result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
  }
  .resetBtn {
    display: flex;
    justify-content: center;
    margin: auto;
  }